<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <form id="form_recover" name="form_recover" class="recover_form" autocomplete="off" novalidate>
                <p class="h4 mb-4">Change Password</p>
                <div class="form-row mb-4">
                    <div class="col">
                        <!-- INPUT -->
                        <input type="password" id="password" name="password" class="form-control" placeholder="password" 
                        ng-required="true" ng-model="change_password.password" ng-minlength="8" ng-maxlength="20">
                        <!-- ERROR -->
                        <div ng-messages="form_recover.password.$error" ng-show="form_recover.password.$dirty || form_recover.password.$touched || change_password_Submitted">
                            <div class="alert alert-danger" ng-message="maxlength">Password muy larga</div>
                            <div class="alert alert-danger" ng-message="minlength">Password muy corta (minimo 8)</div>
                            <div class="alert alert-danger" ng-message="required">Required Password</div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- INPUT -->
                        <input type="password" id="rpassword" name="rpassword" class="form-control" placeholder="rpassword" 
                        ng-required="true" ng-model="change_password.rpassword" ng-minlength="8" ng-maxlength="20" compare-to="change_password.password" >
                        <!-- ERROR -->
                        <div ng-messages="form_recover.rpassword.$error" ng-show="form_recover.rpassword.$dirty || form_recover.rpassword.$touched || change_password_Submitted">
                            <div class="alert alert-danger" ng-message="maxlength">Password muy larga</div>
                            <div class="alert alert-danger" ng-message="minlength">Password muy corta (minimo 8)</div>
                            <div class="alert alert-danger" ng-message="required">Required Password</div>
                            <div class="alert alert-danger" ng-show="change_password.rpassword != change_password.password && (form_recover.rpassword.$dirty || form_recover.rpassword.$touched)">Las contraseñas no coinciden</div>
                        </div>
                    </div>
                </div>
                <small class="form-text text-muted">
                    At least 8 characters and 1 digit
                </small>
                <button class="btn btn-info my-4 btn-block" type="submit" id="submitBtn_change_password" name="submit_change_password" 
                ng-click="change_password_Submitted=true; SubmitChange_password()"
                ng-disabled="form_recover.$invalid || ( form_recover.rpassword.$dirty && form_recover.rpassword.$valid && !form_recover.rpassword.$invalid) && 
                ( form_recover.password.$modelValue != form_recover.rpassword.$modelValue )">Register</button>
            </form>
        </div>
    </div>
</div>
