<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <form id="form_send_mail" name="form_send_mail" class="form_send_mail" autocomplete="off" novalidate>
                <p class="h4 mb-4">Type your Email</p>
                <div class="form-row mb-4">
                    <div class="col">
                        <!-- INPUT -->
                        <input type="text" id="email" name="email" class="form-control" placeholder="email" 
                        ng-required="true" ng-model="send_mail.email" ng-maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                        <!-- ERROR -->
                        <div ng-messages="form_send_mail.email.$error" ng-show="form_send_mail.email.$dirty || form_send_mail.email.$touched || send_mail_Submitted">
                            <div class="alert alert-danger" ng-message="maxlength">Email muy largo</div>
                            <div class="alert alert-danger" ng-message="pattern">Formato del email invalido</div>
                            <div class="alert alert-danger" ng-message="required">Required Email</div>
                        </div>
                    </div>
                </div>
                <input class="btn btn-info btn-block my-4" type="submit" id="submitBtn_login" name="submit_login" value="Request Password"
                ng-click="send_mail_Submitted=true; SubmitSend_mail()"/>
            </form>
        </div>
    </div>
</div>
